@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #2980b9;
  border-radius: 5rem;
}

body {
  background: #111;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #2980b9;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #2980b9;
  border: 0.2rem solid #2980b9;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #2980b9;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .logo:hover {
  color: #114357;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #114357;
}

.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.logo i {
  color: #2980b9;
  padding-right: 0.5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.nav__btns {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
}

.home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
}

.home .content {
  text-align: center;
}

.home .content span {
  font-weight: bolder;
  color: #ffffff;
  font-size: 10rem;
  display: block;
}

.home .content h3 {
  font-size: 40px;
  color: #2980b9;
}

.home .content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.about .img-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.about .img-container img {
  border-radius: 5rem;
  width: 100%;
}

.about .img-container .controls {
  text-align: center;
  padding: 2rem 0;
}

.about .img-container .controls span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0.7rem;
}

.about .img-container .controls span:hover {
  background: #2980b9;
}

.about .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .content h1 {
  color: #2980b9;
  font-size: 3rem;
}

.about .content h3 {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

.about .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.projects .heading h1 {
  color: #2980b9;
  font-size: 3rem;
}

.projects .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.projects .box-container .box {
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
}

.projects .box-container .box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.projects .box-container .box .image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.projects .box-container .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.projects .box-container .box .content {
  padding: 2rem;
  text-align: center;
}

.projects .box-container .box .content h3 {
  font-size: 2rem;
  color: #fff;
}

.projects .box-container .box .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.projects .box-container .box .content a {
  font-size: 1.7rem;
  color: #2980b9;
}

.projects .box-container .box .content a:hover i {
  padding-left: 1rem;
}

.projects .box-container .box .content a i {
  padding-right: 0.5rem;
}

.hability .heading h1 {
  color: #2980b9;
  font-size: 3rem;
}

.hability .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.hability .box-container .box {
  background: #222;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #111;
}

.hability .box-container .box:hover {
  border: 0.2rem solid #2980b9;
}

.hability .box-container .box i {
  font-size: 4rem;
  color: #2980b9;
  margin-bottom: 2rem;
}

.hability .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
}

.hability .box-container .box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 2rem;
}

.review .content {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
}

.review .content span {
  font-size: 2rem;
  color: #2980b9;
}

.review .content h1 {
  color: #2980b9;
  font-size: 3rem;
}

.review .content p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.review .box-container {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 42rem;
  flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20rem;
  flex: 1 1 20rem;
  border-radius: 1rem;
  padding: 2rem;
  background: #222;
  border: 0.2rem solid #111;
}

.review .box-container .box:hover {
  border: 0.2rem solid #2980b9;
}

.review .box-container .box p {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 2;
  color: #aaa;
}

.review .box-container .box .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 1rem;
}

.review .box-container .box .user img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.review .box-container .box .user h3 {
  font-size: 1.7rem;
  color: #fff;
}

.review .box-container .box .user span {
  color: #aaa;
  font-size: 1.5rem;
}

.footer {
  background: #222;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box {
  padding: 1rem 0;
}

.footer .box-container .box .logo {
  padding-bottom: 1rem;
}

#change {
  color: #114357;
}

#change:hover {
  color: #ffffff;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.4rem;
  color: #ffffff;
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .box p i {
  padding-right: 0.5rem;
  color: #114357;
}

.footer .box-container .box .share {
  padding-top: 1rem;
}

.footer .box-container .box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #114357;
  color: #000000;
  margin-right: 0.5rem;
  text-align: center;
}

.footer .box-container .box .share a:hover {
  background: #114357;
  color: #111;
}

.footer .box-container .box .links {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box .links:hover {
  color: #2980b9;
}

.footer .box-container .box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .box .links i {
  padding-right: 0.5rem;
  color: #2980b9;
}

.credit {
  background: #000000;
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: #aaa;
}

.credit span {
  color: #2980b9;
}

/* media query */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h1 {
    font-size: 9vw;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .content h1 {
    font-size: 3.5rem;
  }
}
